@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6EFE3;
  --foreground: #171B2B;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
